input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .form {
    width: 100%;
    margin-bottom: 10px;
    }
    #form1 input[type=text] {
    color:black;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }
    
    #form1 #fcontent {
    height: 100px;
    }
    #form1 input[type=submit] {
    color:white;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #CC6666;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }
    #form1 input[type="submit"]:hover {
    background:#CC4949;
    }

    .form button{
        height: 40px;
        width: 200px;
        font-size: 16px;
        font-weight: bold;
        background-color: greenyellow;
        border-radius: 6px;
    }

    .form label{
      font-weight: 500;
      font-size: 18px;
    }

    .hr_lienhe{
      float: left;
      border: 2px solid goldenrod;
      width: 100px;
      border-radius: 3px;
    }